.admin-page
    margin-top 50px

.admin-list
    width 600px
    margin auto
    margin-top 50px

.pet-row
    display flex
    justify-content space-between
    width 600px
    padding 5px
    margin auto
    margin-bottom 5px
    border 2px solid #ddd
    flex-wrap wrap
    img
        height 40px

.pet-admin-form
    width 500px
    margin auto
    margin 30px auto

.pet-creator-last-row 
    display flex
    justify-content space-between

.admin-user-list
    & > li
        margin-bottom 20px

.list-user
    margin-bottom 20px