* 
    font-family roboto
    box-sizing border-box

h1 
    text-align center

.container
    max-width 1000px
    margin auto
    margin-bottom 100px

button, select, input[type=text], input[type=password]
    width 100px
    height 30px
    border-radius 10px

button,input[type=text], input[type=password]
    &:focus
        border none
        outline none
        background-color #efefef
        border solid 1px #aaa

select:focus
    outline-color #aaa
    outline-width 1px 

input[type=text], input[type=password]
    border-radius 0px
    margin 10px 5px
    padding-left 5px
    width 100%

ul
    list-style-type none
    padding 0
        

