.auth-forms 
    display flex
    justify-content space-around
    padding 30px
    margin-bottom 20px
    background-color #efefef

.auth-form
    text-align center

.pet-cards 
    display flex
    flex-wrap wrap
    margin-top 50px

.selects-container
    display flex
    justify-content space-around

.select
    display flex
    label
        padding-top 5px
        margin-right 10px

.pet-card 
    width 310px
    margin 10px
    padding 10px
    overflow hidden
    box-shadow 0px 0px 13px rgba(0,0,0,.1)
    & img 
        height 200px
    & > div
        margin-bottom 5px


.liked
    background-color red

.like-btn
    width 20px
    height 20px
    border 1px solid black

.heart-icon 
    color red