.pet-row
    display flex
    justify-content space-between
    width 500px
    margin auto
    margin-bottom 10px
    border 1px solid #efefef
    div
        margin-right 5px
        padding-top 5px
        width 100px