.pet-cards 
    display flex
    flex-wrap wrap
    margin-top 50px

.selects-container
    display flex
    justify-content space-around

.select
    display flex
    label
        padding-top 5px
        margin-right 10px